@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

body {
  background: #343434;
  color: white;
  font-family: "Quicksand", sans-serif;
}

svg {
  position: absolute;
  z-index: 0;
  left: -55%;
  top: -8%;
  width: 150%;
}

.content {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  margin-top: 75%;
  position: relative;
  z-index: 1;

  h1 {
    font-size: 1.4em;
  }
}

.quote-container {
  display: flex;
  width: 100%;
  place-content: center;

  .avatar {
    width: 25px;
    height: 25px;
    background: gray;
    border-radius: 50%;
  }
  p {
    margin: 0.3em 0.5em;
    font-size: 0.9em;
  }
}

.cta {
  margin-top: 2em;
  display: inline-block;
  background: linear-gradient(135deg, #ff9150 0%, #ff3648 100%);
  color: white;
  text-decoration: none;
  padding: 0.7em 1.2em;
  border-radius: 5px;
  font-size: 16px
}

@media screen and (min-width: 840px) {
  body {
    font-size: 22px;
    overflow-x: hidden;
  }
  .content {
    text-align: left;
    width: 80%;
    margin: 10em auto 0 auto;

    h1 {
      width: 50%;
    }
  }

  svg {
    left: unset;
    right: -5%;
    top: -8%;
    width: 1200px;
  }

  .quote-container {
    display: flex;
    place-content: unset;

    p {
      margin-top: 0;
    }
  }
}

@media screen and (min-width: 1220px) {
  svg {
    position: absolute;
    z-index: 0;
    left: unset;
    right: -5%;
    top: -20%;
    overflow: hidden;
    width: 1600px;
  }
}
